
@keyframes scroll-tape {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .animate-scroll-tape {
    animation: scroll-tape 10s linear infinite;
  }
  
  